VITE_API_BASE_URL=https://prepro.eva.anlci.gouv.fr/api
VITE_ADMIN_BASE_URL=https://prepro.eva.anlci.gouv.fr/admin

# Rollbar
VITE_SOURCE_VERSION=HEAD
VITE_ROLLBAR_ENVIRONMENT=development

# Ces variables d'environnements ont vocation à être temporaire
# Elle permettent à l'équipe de pouvoir tester le parcours et faire des retours
VITE_ID_QUESTIONNAIRE_EVA_ENTREPRISES=de47df57-093b-4210-aee2-ce84c4c8cedb
VITE_CODE_CAMPAGNE_EVA_ENTREPRISES=EVAETGILLES
