VITE_API_BASE_URL=https://prepro.eva.anlci.gouv.fr/api

# Ces variables d'environnements ont vocation à être temporaire
# Elle permettent à l'équipe de pouvoir tester le parcours et faire des retours
VITE_ID_QUESTIONNAIRE_EVA_ENTREPRISES=de47df57-093b-4210-aee2-ce84c4c8cedb
VITE_ID_BENEFICIAIRE_EVA_ENTREPRISES=bacd151b-5759-4435-a905-55218993d61d
VITE_CODE_CAMPAGNE_EVA_ENTREPRISES=EVAETGILLES
VITE_NOM_TECHNIQUE_SITUATION_EVA_ENTREPRISES=diag_risques_entreprise
